#headerContainer {
    .headerImage {
        background: url("http://imgs.steps.dragoart.com/how-to-draw-a-pony-step-7_1_000000053055_5.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 220px;
    }
    .__title {
        font-weight: bolder;
        font-size: 1.7em;
        margin: 0.5em auto;
        width: 85%;
        @media (max-width: 600px) {
            margin: 12px;
        }
    }
}
