.__payment-Page-Container{
    width: 400px;
    margin: auto;
    input, textarea{
        padding: 16px;
        background: transparent;
        border: 1px solid #707070;
        border-radius: 4px;
        display: block;
        width: 100%;
        font-family: inherit;
        font-size: inherit;
        margin-bottom: 12px;
    }
    .__card2{
        padding: 18px;
    }
    @media (max-width: 600px) {
        width: auto;
    }

    #noteLengthContainer{
        min-height: 18px;
        color: #D3D3D3;
        font-size: 14px;
        display: flex;
        justify-content: flex-end;
    }
}