.selectEmployeesButton{
    margin-bottom: 36px;
    cursor: pointer;
    overflow: hidden;
    img{
        width: 56px;
        height: 56px;
        margin-right: 10px;
    }
    >div{
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 20px 0;
        width: 300px;
    }
}
.employeesContainer{
    margin-left: 32px;
    .material-icons{
        margin: 16px 32px 0 0;
    }
    @media (max-width: 800px) {
        margin: 0 -64px 0 -42px;
        .material-icons{
            margin-right: 16px;
        }
        h2{
            margin-bottom: 24px;
        }
    }
    @media (max-width: 600px) {
        margin: 0;
        .selectEmployeesButton >div{
            flex: 1;
            width: 100%;
        }
        .material-icons{
            display: none;
        }
    }
}