.__bookings-page{
    .__services{
        margin: 0 72px;
    }
    .__service{
        padding: 16px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        .__small{
            margin-top: 6px;
        }
        .__image-preview{
            position: relative;
            margin-right: 6px;
            svg{
                width: 42px;
                height: 42px;
            }
            img{
                width: 42px;
            }
        }   
        .__title{
            margin: 1px 0 auto 0;
        }
        .__infoImage{
            width: 28px;
        }
        .__footer{
            svg, img{
                margin-left: 8px;
                width: 20px;
            }
        }
    }
    .categoryContainer{
        padding: 9px 16px;
        border-bottom: 1px solid rgba(#777777, $alpha: 0.1);
        background: rgba($color: #777777, $alpha: 0.06);
        margin-bottom: 16px;
        cursor: pointer;
        &.selected{
            background: rgba($color: #777777, $alpha: 0.2);
        }
    }   
    @media (max-width: 800px) {
        display: block;
        .__services{
            margin: 32px 0;
        }
    }
}

.__popup{
    .__btn{
        display: block;
        padding: 10px 24px;
        font-weight: bold;
        font-size: 0.95em;
        margin: 24px auto -8px auto;
    }
}