.__bookings-page{
    .__services{
        margin: 0 72px;
    }
    .__service{
        padding: 16px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;

        #noImage{
            width:0px;
            height: 0px;
            overflow: hidden;
        }
        .__small{
            font-size: 15px;
            margin-top: 6px;
        }
        .__image-preview{
            width: 56px;
            height: 56px;
            margin-right: 10px;
    
            svg{
                width: 56px;
                height: 56px;
                }
            img{
                width: 56px;
                height: 56px;
                }
        }   
        .__title{
            margin: 1px 0 auto 0;
        }
        .__infoImage{
            width: 28px;
        }
        .__footer{
            svg, img{
                margin-left: 8px;
                width: 20px;
            }
        }
    }
    .categoryContainer{
        padding: 9px 16px;
        border-bottom: 1px solid rgba(#777777, $alpha: 0.1);
        background: rgba($color: #777777, $alpha: 0.06);
        margin-bottom: 16px;
        cursor: pointer;
        &.selected{
            background: rgba($color: #777777, $alpha: 0.2);
        }
        &:last-child{
            margin: 0;
        }
    }   
    @media (max-width: 800px) {
        .__categories-wrapper{
            padding: 12px;
            display: flex;
            overflow: auto;
            .categoryContainer{
                margin: 0;
                border: none;
                padding: 6px 12px;
                white-space: nowrap;
                border-radius: 16px;
                background: transparent;
                position: relative;
                &.selected{
                    background: #3B86FF;
                    color: #fff;
                }
                svg{
                    display: none;
                }
            }
            &::after{
                padding: 6px;
                content: '';
            }
        }
        display: block;
        .__services{
            margin: 32px 0;
        }
    }
}

.__popup{
    .__btn{
        display: block;
        padding: 10px 24px;
        font-weight: bold;
        font-size: 0.95em;
        margin: 24px auto -8px auto;
    }
}