@import "./colors.scss";
#selectDateAndTimeContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    @media (max-width: 800px) {
        margin: 0 !important;
    }

    .__app__calender {
        max-width: 724px;
        background: #fff;
        min-height: 100vh;
        width: 100%;
        header {
            margin-bottom: 16px;
            font-size: 1.2em;
            font-weight: bolder;
            > .flex {
                color: $primary_color;
                cursor: pointer;
            }
            .material-icons {
                font-size: 30px;
            }
        }
        .__main_calender > div {
            flex: 1;
        }
        .__calander_booking_header {
            box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.03);
        }
        @media (max-width: 500px) {
            font-size: 13px;
            header {
                margin-bottom: 8px;
                font-size: 14px;
            }
        }
    }
}
