@import "./colors.scss";
#selectDateAndTimeContainer {
    display: flex;
    flex-direction: column;
    max-width: 724px;
    margin: auto;
    @media (max-width: 800px) {
        margin: 0 !important;
    }

    .__app__calender {
        min-height: 100vh;
        border-color: 6px;
        @media (min-width: 601px) {
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
            background: #fff;
            padding: 12px 8px;
            header{
                font-size: 1.2em;
            }
        }
        header {
            margin-bottom: 16px;
            font-weight: 500;
            > .flex {
                color: $primary_color;
                cursor: pointer;
            }
            .material-icons {
                font-size: 30px;
            }
        }
        .__main_calender > div {
            flex: 1;
        }
    }
}
