.__toast{
    position: fixed;
    right: 36px;
    opacity: 0;
    top: 200px;
    padding: 16px 24px;
    border-radius: 64px;
    font-size: 16px;
    color: #fff;
    background: #7BED8D;
    z-index: 50;
    animation: forwards 0.2s Toast;
    font-weight: 500;
}
@keyframes Toast{
    100%{
        opacity: 1;
        top: 32px;
    }
}